.nav{
	background-color: black;
}

.nav li a {
 color:white;
 font-family: futura
 font-size: 22px;
}

h1 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align: center
}


h2 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align: center
}

h3 {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	text-align: center
}

p {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 8px;
	font-style: normal;
	font-variant: thin;
	font-weight: 400;
	line-height: 20px;
	text-align: center
}

body{
	text-align: center
}

ul{font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 8px;
	font-style: normal;
	font-variant: thin;
	font-weight: 400;
	line-height: 20px;
	text-align: center

}

ol{font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 8px;
	font-style: normal;
	font-variant: thin;
	font-weight: 400;
	line-height: 20px;
	text-align: center}

